{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<div id="propertyById" class="property-all flex-container">
    <div id="propertyById-img-div">
        <img id="propertyById-img" src="{{ url_for('get_image', filename=property.photo) }}" />
    </div>
    <div id="propertyById-info">
        <h3 id="propertyById-title">{{ property.title }}</h3>
        <div class="flex-container">
            <p id="propertyById-price" class="propertyById-info">${{ property.price }}</p>
            <p id="propertyById-type" class="propertyById-info">{{ property.type }}</p>
        </div>
        <p id="propertyById-description" class="propertyById-info">{{ property.description }}</p>
        <div class="flex-container">
            <p id="propertyById-bedrooms" class="propertyById-info"><img id="properties-icons" src="/static/img/bed.ico" alt="bedrooms"> {{ property.number_of_bedrooms }} Bedrooms</p>
            <p id="propertyById-bathrooms" class="propertyById-info"><img id="properties-icons" src="/static/img/bathroom.svg" alt="bathrooms"> {{ property.number_of_bathrooms }} Bathrooms</p>
        </div>
        <div>
            <p id="propertyById-location"  class="propertyById-info"><img id="properties-icons" src="/static/img/location.jpg" alt="location: "> {{ property.location }}</p>
        </div>
        <button type="button" id="propertyById-email-realtor" class="btn btn-primary propertyById-info">Email Realtor</a></button>
    </div>
</div>
{% endblock %}