{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<div id="propertyById" class="property-all">
    <div id="propertyById-img-div">
        <img id="propertyById-img" src="{{ url_for('get_image', filename=property.photo) }}" />
    </div>
    <div id="propertyById-info">
        <h3>{{ property.title }}</h3>
        <p>${{ property.price }}</p>
        <p>{{ property.type }}</p>
        <p>{{ property.description }}</p>
        <p>Bedrooms: {{ property.number_of_bedrooms }}</p>
        <p>Bathrooms: {{ property.number_of_bathrooms }}</p>
        <p>Location: {{ property.location }}</p>
        <button type="button" class="btn btn-primary">Email Realtor</a></button>
    </div>
</div>
{% endblock %}